
extends layout

block content
head
  title Search Results
body

-
div class="container-fluid"
    object1 = "Frog_breed"
    div class="row"
        object2 = "Color"
        div class="col-sm-2"
            object3 = "Length"
results[] = (object1, object2, object3)