extends layout

block content
head
  title Assignment 10
body

    img class="frog1"(src = "https://cdn.dribbble.com/users/59897/screenshots/7370114/media/ed5f7af65581c849b959c5449c558566.png?compress=1&resize=400x300&vertical=top")
    img class="frog2"(src = "https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/green-tree-frog-square-2016-karen-adams.jpg")
    img class="frog3"(src = "https://images-na.ssl-images-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61E92DLM9dL._AC_UL600_SR600,600_.jpg")
    img class="frog4"(src = "http://cdn.shopify.com/s/files/1/0242/5403/products/6x6NewTreeFrog2_large.jpg")
    img class="frog5"(src = "https://savethefrogs.com/wp-content/uploads/Pristimantis-nervicus-2a.jpg")


    var image_names[] = (frog1, frog2, frog3, frog4, frog5) 

    for (3) {
        Math.floor(Math.random()*5)
    }